name: CMake

on: [push, pull_request]

jobs:
  build:
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}
    strategy:
      matrix:
        config:
          - os: ubuntu-20.04
            name: Ubuntu 20.04 Debug
            build_type: Debug
            test_exec: ./test/run_tests
          - os: ubuntu-20.04
            name: Ubuntu 20.04 Release
            build_type: Release
            test_exec: ./test/run_tests
          - os: ubuntu-18.04
            name: Ubuntu 18.04 Debug
            build_type: Debug
            test_exec: ./test/run_tests
          - os: ubuntu-18.04
            name: Ubuntu 18.04 Release
            build_type: Release
            test_exec: ./test/run_tests
          - os: windows-latest
            name: Windows Debug
            build_type: Debug
            test_exec: ./test/Debug/run_tests.exe
          - os: windows-latest
            name: Windows Release
            build_type: Release
            test_exec: ./test/Release/run_tests.exe
          - os: macos-latest
            name: Mac OS Debug
            build_type: Debug
            test_exec: ./test/run_tests
          - os: macos-latest
            name: Mac OS Release
            build_type: Release
            test_exec: ./test/run_tests
    steps:
    - uses: actions/checkout@v2

    - name: Checkout submodules
      run: git submodule update --init --recursive

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=${{matrix.config.build_type}} -DBUILD_TESTS=True -DBUILD_EXAMPLES=True

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config ${{matrix.config.build_type}}

    - name: Test
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ${{matrix.config.test_exec}}
